html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

header {
    flex: 1;
}

main {
    flex: 1;
}

footer {
    flex: 1;
}

h6 {
    text-align: center;
}