body {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

h6 {
    text-align: center;
}