:host {
    width: 100%;
    height: 100%;
}

section {
    background-color: lightblue;
    padding: 1px 15px 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
}